<!-- Header
        ============================================= -->
<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
                ============================= -->
                <div class="logo"> <a class="d-flex" asp-area="" asp-controller="Home" asp-action="Index" title="Payyed - HTML Template"><img src="../images/logo.png" alt="Payyed" /></a> </div>
                <!-- Logo end -->
                <!-- Collapse Button
                ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                <!-- Collapse Button end -->
                <!-- Primary Navigation
                ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")"><a asp-area="UserSection" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="@(ViewBag.Title == "Transaction" ? "active" : "")"><a asp-area="UserSection" asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                            <li class="@(ViewBag.Title == "Send/Request" ? "active" : "")"><a asp-area="UserSection" asp-controller="Transasctions" asp-action="Send">Send/Request</a></li>
                            <li class="@(ViewBag.Title == "Help" ? "active" : "")"><a asp-area="UserSection" asp-controller="Home" asp-action="Index">Help</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>
            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
                ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <ul class="navbar-nav">
                        <li><a asp-area="UserSection" asp-controller="Users" asp-action="Index">Settings</a> </li>
                        <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign out</a></li>
                    </ul>
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>
<!-- Header End -->