@using Microsoft.AspNetCore.Http

<!-- Header
============================================= -->
<header id="header" @*class="bg-transparent header-text-light"*@>
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
                ============================= -->
                <div class="logo"> <a class="d-flex" asp-controller="Home" asp-action="Index" title="Payyed - HTML Template"><img src="images/logo.png" alt="Payyed" /></a> </div>
                <!-- Logo end -->
                <!-- Collapse Button
                ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                <!-- Collapse Button end -->
                <!-- Primary Navigation
                ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li><a asp-controller="Home" asp-action="Send">Send</a></li>
                            <li><a asp-controller="Home" asp-action="Receive">Receive</a></li>
                            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                            <li><a asp-controller="Home" asp-action="Fees">Fees</a></li>
                            <li><a asp-controller="Home" asp-action="Help">Help</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>
            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
                ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <!--Xét xem người dùng đã đăng nhập chưa, nếu chưa thì sẽ hiển thị nút login và SignOut, nếu rồi sẽ là tên   -->
                    @if(Context.Session.GetInt32("IdCurrentUser") == null) { //Nếu chưa
                        <ul class="navbar-nav">
                            <li><a asp-controller="Users" asp-action="Login">Login</a> </li>
                            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" asp-controller="Users" asp-action="SignUp">Sign Up</a></li>
                        </ul>
                    }
                    else{ //Nếu đã đăng nhập
                        //Lấy ra tên người dùng
                        <ul class="navbar-nav">
                            <li><a asp-area="UserSection" asp-controller="Home" asp-action="Index">Hello @Context.Session.GetString("NameCurrentUser")</a> </li>
                            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" asp-controller="Users" asp-action="SignOut">Sign Out</a></li>
                        </ul>
                    }
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>
<!-- Header End -->